<a href='/deploy/new'>Add a new Deployment</a>
<% if @environments.any? %>
  <form action="/">
  <select name="env">
    <option value="">All Environments</option>
    <% @environments.each do |env| %>
      <option value="<%= env.id %>" <%= "selected" if params["env"].to_i == env.id %>><%= env.name %></option>
    <% end %>
  </select>
  </form>
<% end %>

<% if @deploys.none? %>
  <p class="text-center">Nothing has been deployed &mdash;<strong>get to work</strong>!</p>
<% else %>
  <table class="table table-hover deployments">
    <thead>
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Environment</th>
        <th>Deployed</th>
      </tr>
    </thead>
    <tbody>
      <% @deploys.each do |deploy| %>
        <tr class="deployment">
          <td><%= h deploy.name %></td>
          <td><%= h deploy.version %></td>
          <td><%= h deploy.environment.name %></td>
          <td>
            <%= h deploy.deployed_at.strftime("%F %R") %>
            <a class="delete pull-right small" href="/deploy/<%= deploy.id %>/delete" class="small pull-right">Delete</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
